Repository CSE-110-Group-13/cse110-sp24-group13, pull requests merged in 2024-05, with the labels that each got.

#28 Backend deployment for Note
  source/backend/(test).html
  source/backend/(test).js
  source/backend/NoteTable.js
  source/backend/ProjectTable.js
  source/backend/TaskTable.js
  source/backend/backend.html
  source/backend/generateID.js
  source/backend/localStorage.js
  source/backend/main.js
Labels: features, backend

#29 Markdown editor
  source/markdown/markdown.html
  source/markdown/markdown.js
  source/package-lock.json
  source/package.json
Labels: features, web-component

#31 Add verticalnavbar
  source/calendar/calendar.css
  source/calendar/calendar.html
  source/homepage/index.css
  source/homepage/index.html
  source/homepage/index.js
  source/verticalnavbar/icons/book-solid.svg
  source/verticalnavbar/icons/calendar-days-solid.svg
  source/verticalnavbar/icons/gear-solid.svg
  source/verticalnavbar/icons/house-solid.svg
  source/verticalnavbar/icons/list-check-solid.svg
  source/verticalnavbar/icons/star-solid.svg
  source/verticalnavbar/icons/toggleButtonLeft.svg
  source/verticalnavbar/icons/toggleButtonRight.svg
  source/verticalnavbar/verticalnavbar.css
  source/verticalnavbar/verticalnavbar.js
Labels: web-component

#32 Add new button & add note/add project webcomponent
  source/addNewbutton/addNew.js
  source/addNewbutton/addNewold.js
  source/homepage/index.html
Labels: web-component

#42 finished ProjectTable.js and skeleton for projectlist page
  source/addNewbutton/addNew.js
  source/addNewbutton/addNewold.js
  source/backend/ProjectTable.js
  source/backend/projectTableTest.js
  source/projectlist/projectlist.css
  source/projectlist/projectlist.html
  source/projectlist/projectlist.js
Labels: html page, backend

#48 Favorite skeleton
  source/addNewbutton/addNew.js
  source/favorites/favorites.css
  source/favorites/favorites.html
  source/favorites/favorites.js
  source/homepage/index.css
  source/homepage/index.html
  source/homepage/index.js
Labels: help wanted, html page

#55 Calendar - add function to load notes and projects
  source/calendar/calendar.html
  source/calendar/calendar.js
  source/projectlist/projectTableGenerate.js
Labels: features, html page

#56 Add add new button
  source/addNewbutton/addNew.js
  source/homepage/index.js
Labels: features, web-component

#57 homepage now properly gets from localstorage
  source/homepage/index.html
  source/homepage/index.js
Labels: features, html page
